<div class="row">
    <div class="col-xs-12">
        <table class="table">
            <thead class="dark">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Location</th>
                    <th scope="col">Image</th>
                </tr>
            </thead>
            <tbody>
                <!-- <tr
                *ngFor="let creatureEl of creatures; let i=index"
                [creature]='creatures'
                [index]="i"></tr> -->
            </tbody>
        </table>
    </div>
</div>